# All the current dependencies in Karlach.py with version pinning
numpy==1.24.4
matplotlib==3.8.2
astropy==6.0.0
astroquery==0.4.7.dev9008
scipy==1.8.0
stwcs==1.7.2

# Additional unique dependencies for Gale.py
httpx==0.27.0
beautifulsoup4==4.10.0

# Additional unique dependencies for Halsin.py
requests==2.25.1

# Additional unique dependencies for Laezel.py
pexpect==4.8.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.134.0
